{% set netdata = salt.grains.filter_by({
    'default': {
        'pkgs': ['netdata'],
        'service': 'netdata',
        'conf_file': '/opt/netdata/etc/netdata/netdata.conf',
        'config': {
            'global': {
                'hostname': salt.grains.get('id'),
                'memory mode': 'dbengine'
            }
        },
    },
    'Debian': {
    },
    'RedHat': {
    },
}, grain='os_family', merge=salt.pillar.get('netdata'), base='default') %}
